<div class="filters-container container"><div>
            <div class="main-box">
                <div class="btn-toolbar pull-right menu">
                    <div class="btn-group btn-order">
                        <button class="btn dropdown-toggle right" data-toggle="dropdown">
                            Sort:
                            <strong class="btn-order-label">Just Updates</strong>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu sort-options">
                            <li><a data-value="update_date">Just Updates</a></li>
                            <li><a data-value="creation_date">Join Created</a></li>
                            <li><a data-value="hit">Most Reviewed</a></li>
                            <li><a data-value="post_count">Join Wrote Post</a></li>
                        </ul>
                    </div>
                </div>

                <form class="form-filter form-inline">
                    <input id="name" name="name"  placeholder="Name" class="input-medium search-text" type="text">
                    <button class="btn btn-success btn-search search-site">Search</button>
                    <label  style="margin-left: 20px;width:90px" for="inputIcon">Category</label>
                    <input class="category-site" style="width:150px"/>
                </form>
            </div>
        </div>
        <hr>
    </div>