<?php if ($this->error) {?>
    <div> <b>Error!</b> <?=$this->message?> </div>
    <a href="<?=$this->url(array('module'=>'default', 'controller' => 'import', 'action' => 'facebook'))?>" >Try again</a>
<?php }else { ?>
<script type="text/javascript">    
    window.Fbcontacts = <?php print json_encode($this->fb_contacts) ?>;
    window.Fbmembers = <?php print json_encode($this->fb_members) ?>;
    window.close();
</script>
<?php } ?>


