<?php if ($this->error) {?>
    <div> <b>Error!</b> <?=$this->message?> </div>
    <a href="<?=$this->url(array('module'=>'default', 'controller' => 'import', 'action' => 'gmail'))?>" >Try again</a>
<?php }else { ?>
<script type="text/javascript">    
    window.Gmailcontacts = <?php print json_encode($this->gmail_contacts) ?>;
    window.Gmailmembers = <?php print json_encode($this->gmail_members) ?>;
    window.close();
</script>
<?php } ?>