<li class="category-item  <%=(index == 0) ? 'selected' : ''%>" id="<%=id%>">
    <%if(photo){%>
    <img src="<%=photo.location%>"/>
    <%}%>
    <p class="category-title"><%=title%></p>
    <i class="glyphicon glyphicon-edit edit-category"></i>
</li>