<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body row">
            <form class="category-form col-md-9">
                <div class="control-group">
                    <input class="new-category" placeholder="<%=labels.category_name%>" value="<%=title%>"/>
                </div>
            </form>

            <div class="col-md-3">
                <div style="width: 100px; height: 100px;padding: 10px; border: 1px dashed #666666">
                    <img class="image-preview" style="width: 100%;height: 100%;" src="<%=(photo) ? photo.location : ''%>"/>
                </div>
                <div id="upload_btn_container" style="margin: 0;">
                    <a class="add-image right" id="file_upload_btn" style="width: 105px;text-align: center;"><%=labels.add_img%></a>
                    <p id="uploadfiles" class="hide"></p>
                    <div class="progress left hide" style="width: 300px;">
                        <div class="bar"></div>
                        <span class="plupload_total_status"></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-primary create-category"><%=labels.save%></a>
            <a type="button" class="btn btn-default" data-dismiss="modal"><%=labels.cancel%></a>
        </div>
    </div>
</div>