
<%
var typTxt =  type;


switch(typTxt){
case "1" :
typTxt = 'poll';
break;

case "2" :
typTxt = 'contest';
break;

case "3" :
typTxt = 'exam';
break;
}
%>

<div class="relative evaluation-form-top">
    <div class="control-group">
        <label><%=labels.title + ' ' + labels[typTxt] %></label>
        <input class="title" name="title" value="<%=title%>"/>
    </div>
    <div class="control-group">
        <a class="btn btn-large btn-primary save_evaluation"><%=labels.save + ' ' + labels[typTxt]%></a>
    </div>
</div>

<div class="form-wrapper"></div>

<div class="questions-list"></div>

