
<div class="col-md-4 btn-wrapper">
    <%if(status == 0){%>
    <%if(type != 3){%>
    <span class="hover-tooltip pull-left close-evaluation" data-toggle="tooltip" data-placement="top" title="<%=labels.close_evaluation%>"><i class="glyphicon glyphicon-remove"></i></span>
    <%}%>
    <span class="hover-tooltip pull-left delete" data-toggle="tooltip" data-placement="top" title="<%=labels.delete%>"> <i class="glyphicon glyphicon-trash"></i></span>

    <span class="hover-tooltip pull-left edit"  data-toggle="tooltip" data-placement="top" title="<%=labels.edit%>"><i class="glyphicon glyphicon-edit"></i></span>
    <%}%>
    <a href="#evaluation/<%=id%>/preview" class="hover-tooltip pull-left preview" data-toggle="tooltip" data-placement="top" title="<%=labels.preview%>"><i class="glyphicon glyphicon-eye-open"></i></a>
</div>

<div class="col-md-8 item-content-view">
    <h4 class="list-group-item-heading">
        <%
        switch(type){
        case "1" :
        var type = "poll";
        break;

        case "2" :
        var type = "contest";
        break;

        case "3" :
        var type = "exam";
        break;

        }
        %>
        <a href="#evaluations/<%= type + '/' +id%>">
            <%=title%>
        </a>
    </h4>
</div>

<%if(status == 0 && type != "exam"){%>
<div class="alert alert-danger fade in hidden">
    <p>
        در صورت بستن <%=labels[type]%>
        امکان باز کردن مجدد وجود ندارد.آیا مطمین هستید؟
    </p>
    <p>
        <a class="btn btn-danger" type="button">بله</a>
        <a class="btn btn-default hide-alert" type="button">خیر</a>
    </p>
</div>
<%}%>

