

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>
                    <a href="#galleries/<%=id%>">
                        <%=title%>
                    </a>
                </h3>
            </div>
        </div>
    </div>
