<%
var rout = (type) ? type : target;
%>

<%if(rout != 'reports')%>
<div class="second-navbar">
    <a href="#add/<%=rout%>" class="pull-left add-item"><%=labels.add%></a>
</div>

<div class="items-wrapper"></div>