
<div class="modal-dialog link-modal" style="width: 750px">
    <div class="modal-content">
        <%if(Backbone.history.fragment == "rules"){%>
        <%if(!id){%>
        <div class="modal-body">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#new_file" role="tab" data-toggle="tab"><%=labels.upload_pdf_file%></a></li>
                <%if(showfolderTab){%>
                <li><a href="#new_directory" role="tab" data-toggle="tab"><%=labels.new_directory%></a></li>
                <%}%>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content" style="padding: 20px 40px;">
                <div class="tab-pane active" id="new_file">
                    <form class="item-form">
                        <input type="hidden" name="isFile" value="1"/>
                        <div class="control-group">
                            <input type="text" name="title" placeholder="<%=labels.title%>" value="<%=title%>" style="width: 100%;" required/>
                        </div>
                        <div class="control-group">
                            <div class="options right" style="width: 100%;">
                                <div class="input-group" id="upload_btn_container" style="width: 100%;">
                                    <input type="text" class="form-control left" name="path" value="<%=path%>" style="width: 95%;text-align: left;" disabled />
                                    <p id="uploadfiles" class="hide"></p>
                                    <span class="input-group-btn right">
                                        <button class="btn btn-default" type="button" style="width: 110px;" id="file_upload_btn" ><%=labels.upload_file%></button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="upload-image-progress">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </form>
                </div>

                <div class="tab-pane" id="new_directory">
                    <form class="item-form folder-form">
                        <input type="hidden" name="isFile" value="0"/>
                        <div class="control-group">
                            <input type="text" name="title" placeholder="<%=labels.title%>"/>
                        </div>
                        <div class="control-group">
                            <textarea name="description" required rows="5" placeholder="<%=labels.description%>"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <%}else{%>
        <div class="modal-body">
            <%if(isFile == 1){%>
            <form class="item-form">
                <input type="hidden" name="isFile" value="1"/>
                <div class="control-group">
                    <input type="text" name="title" placeholder="<%=labels.title%>" value="<%=title%>" style="width: 100%;" required/>
                </div>
                <div class="control-group">
                    <div class="options right" style="width: 100%;">
                        <div class="input-group" id="upload_btn_container" style="width: 100%;">
                            <input type="text" class="form-control left" name="path" value="<%=path%>" style="width: 95%;text-align: left;" disabled />
                            <p id="uploadfiles" class="hide"></p>
                            <span class="input-group-btn right">
                                <button class="btn btn-default" type="button" style="width: 110px;" id="file_upload_btn" ><%=labels.upload_file%></button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="upload-image-progress">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </form>
            <%}else{%>
            <form class="item-form folder-form">
                <input type="hidden" name="isFile" value="0"/>
                <div class="control-group">
                    <input type="text" name="title" value="<%=title%>" placeholder="<%=labels.title%>"/>
                </div>
                <div class="control-group">
                    <textarea  name="description" required placeholder="<%=labels.description%>"><%=description%></textarea>
                </div>
            </form>
            <%}%>
        </div>
        <%}%>
        <%}%>

        <%if(Backbone.history.fragment == "educations"){%>
        <div class="modal-body active" style="padding: 40px;">
            <%if(category == 5){%>
            <form class="item-form">
                <input type="hidden" name="isFile" value="1"/>
                <div class="control-group">
                    <input type="text" name="title" placeholder="<%=labels.title%>" value="<%=title%>" style="width: 100%;" required/>
                </div>
                <div class="control-group">
                    <div class="options right" style="width: 100%;">
                        <div class="input-group" id="upload_btn_container" style="width: 100%;">
                            <input type="text" class="form-control left" name="path" value="<%=path%>" style="width: 95%;text-align: left;" disabled />
                            <p id="uploadfiles" class="hide"></p>
                            <span class="input-group-btn right">
                                <button class="btn btn-default" type="button" style="width: 110px;" id="file_upload_btn" ><%=labels.upload_file%></button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
            <%}%>


        </div>

        <%}%>


        <div class="modal-footer">
            <%if(!id){%>
            <a class="btn btn-primary create-item"><%=labels.save%></a>
            <%}else{%>
            <a class="btn btn-primary update-item" id="<%=id%>"><%=labels.update%></a>
            <%}%>
            <a type="button" class="btn btn-default" data-dismiss="modal"><%=labels.cancel%></a>

        </div>
    </div>
</div>


