<div class="login-logo">
    <img width="100" height="auto" src="/img/logo.png"/>
</div>

<!--<p class="login-title"><%=labels.green_land%></p>-->


<div class="login_msg">
    <span style="font-size: 23px;display: block"><%=labels.login_msg%></span>
    <span style="font-size: 40px;"><%=labels.mayadin%></span>
</div>

<div class="control-group">
    <input type="text" name="username" id="username" placeholder="<%=labels.username%>"/>
</div>

<div class="control-group">
    <input type="password" name="password" id="password" placeholder="<%=labels.password%>"/>
</div>
<div class="control-group">
    <button type="button" class="btn btn-primary pull-left login"><%=labels.login%></button>
</div>

<h6 style="
    bottom: 3px;
    position: absolute;
    right: 95px;
    text-align: center">همهٔ حقوق برای آفران محفوظ است. ©‏ ۱۳۹۳</h6>