
<div class="second-navbar">
    <span class="title"><%=labels.squares_list%></span>
    <a class="pull-left add-item"><%=labels.add%></a>
</div>

<div class="modal fade" id="new-item-modal"></div>
<div class="back">
    <%=labels.back%>
    <i class="glyphicon glyphicon-chevron-left"></i>
</div>
<div class="items-wrapper" style="margin-top: 40px;"></div>