<div class="modal-content">
    <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#map" role="tab" data-toggle="tab"><%=labels.map%></a></li>
            <li><a href="#info" role="tab" data-toggle="tab"><%=(mrktParent) ? labels.market_info : labels.square_info%></a></li>
            <!--<li><a href="#upload_image" role="tab" data-toggle="tab"><%=labels.upload_image%></a></li>-->
        </ul>

        <div class="tab-content">
            <div class="tab-pane " id="info">
                <form class="market-form" style="direction: rtl;">
                    <div class="control-group">
                        <label><%=labels.establishYear%></label>
                        <input type="text" name="establishYear"  value="<%=establishYear%>" required/>
                    </div>

                    <div class="control-group">
                        <div>
                            <label><%=(mrktParent) ?  labels.mrktName : labels.squareName%></label>
                            <input type="text" name="mrktName"  value="<%=mrktName%>" required />
                        </div>
                        <div>
                            <label><%=labels.mrktStatus%></label>
                            <select name="mrktStatus" required>
                                <!--                                <option value="1"><%=labels.permanent%></option>
                                                                <option value="2"><%=labels.neighborhood%></option>-->

                                <option value="1" <%=(mrktStatus == 1) ? "selected" : ''%> ><%=labels.active%></option>
                                <option value="0" <%=(mrktStatus == 0) ? "selected" : ''%>><%=labels.inactive%></option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <div>
                            <label><%= labels.mrktRegionNo%></label>
                            <input type="text" name="mrktRegionNo"  value="<%=mrktRegionNo%>" required />
                        </div>
                        <div>
                            <label><%=labels.mrktAreaNo%></label>
                            <input type="text" name="mrktAreaNo"  value="<%=mrktAreaNo%>" required/>
                        </div>
                    </div>

                    <div class="control-group location-inputs">
                        <div>
                            <label><%=labels.latitude%></label>
                            <input type="text" name="latitude"  value="<%=latitude%>" required/>
                        </div>
                        <div>
                            <label><%=labels.longitude%></label>
                            <input type="text" name="longitude"  value="<%=longitude%>" required/>
                        </div>
                    </div>

                    <div class="control-group">
                        <div>
                            <label><%=labels.fruitBooth%></label>
                            <input type="text" name="fruitBooth"  value="<%=fruitBooth%>" />
                        </div>
                        <div>
                            <label><%=labels.vegetableBooth%></label>
                            <input type="text" name="vegetableBooth"  value="<%=vegetableBooth%>" />
                        </div>
                    </div>

                    <div class="control-group">
                        <div>
                            <label><%=labels.summerCropsBooth%></label>
                            <input type="text" name="summerCropsBooth"  value="<%=summerCropsBooth%>" />
                        </div>
                        <div>
                            <label><%=labels.chickenFishBooth%></label>
                            <input type="text" name="chickenFishBooth"  value="<%=chickenFishBooth%>" />
                        </div>
                    </div>

                    <div class="control-group">
                        <div>
                            <label><%=labels.meatBooth%></label>
                            <input type="text" name="meatBooth"  value="<%=meatBooth%>" />
                        </div>
                        <div>
                            <label><%=labels.diaryBooth%></label>
                            <input type="text" name="diaryBooth"  value="<%=diaryBooth%>" />
                        </div>
                    </div>

                    <div class="control-group">
                        <div>
                            <label><%=labels.electricBooth%></label>
                            <input type="text" name="electricBooth"  value="<%=electricBooth%>" />
                        </div>
                        <div>
                            <label><%=labels.nutsBooth%></label>
                            <input type="text" name="nutsBooth"  value="<%=nutsBooth%>" />
                        </div>
                    </div>


                    <div class="control-group">
                        <div>
                            <label><%=labels.laundryBooth%></label>
                            <input type="text" name="laundryBooth"  value="<%=laundryBooth%>" />
                        </div>
                        <div>
                            <label><%=labels.dressmakingBooth%></label>
                            <input type="text" name="dressmakingBooth"  value="<%=dressmakingBooth%>" />
                        </div>
                    </div>

                    <div class="control-group">
                        <div>
                            <label><%=labels.recycleBooth%></label>
                            <input type="text" name="recycleBooth"  value="<%=recycleBooth%>" />
                        </div>
                        <div>
                            <label><%=labels.flowerBooth%></label>
                            <input type="text" name="flowerBooth"  value="<%=flowerBooth%>" />
                        </div>
                    </div>

                    <div class="control-group">
                        <div>
                            <label><%=labels.plasticBooth%></label>
                            <input type="text" name="plasticBooth"  value="<%=plasticBooth%>" />
                        </div>
                        <div>
                            <label><%=labels.sausageBooth%></label>
                            <input type="text" name="sausageBooth"  value="<%=sausageBooth%>" />
                        </div>
                    </div>

                    <div class="control-group">
                        <div>
                            <label><%=labels.clothingBooth%></label>
                            <input type="text" name="clothingBooth"  value="<%=clothingBooth%>" />
                        </div>
                        <div>
                            <label><%=labels.riceBooth%></label>
                            <input type="text" name="riceBooth"  value="<%=riceBooth%>" />
                        </div>
                    </div>

                    <div class="control-group">
                        <div>
                            <label><%=labels.breadBooth%></label>
                            <input type="text" name="breadBooth"  value="<%=breadBooth%>" />
                        </div>
                        <div>
                            <label><%=labels.compoteBooth%></label>
                            <input type="text" name="compoteBooth"  value="<%=compoteBooth%>" />
                        </div>
                    </div>

                    <div class="control-group">
                        <div>
                            <label><%=labels.courierBooth%></label>
                            <input type="text" name="courierBooth"  value="<%=courierBooth%>" />
                        </div>
                        <div>
                            <label><%=labels.agencyBooth%></label>
                            <input type="text" name="agencyBooth"  value="<%=agencyBooth%>" />
                        </div>
                    </div>

                    <div class="control-group">
                        <div>
                            <label><%=labels.detergentBooth%></label>
                            <input type="text" name="detergentBooth"  value="<%=detergentBooth%>" />
                        </div>
                        <div>
                            <label><%=labels.stationeryBooth%></label>
                            <input type="text" name="stationeryBooth"  value="<%=stationeryBooth%>" />
                        </div>
                    </div>

                    <div class="control-group">
                        <div>
                            <label><%=labels.parking%></label>
                            <input type="text" name="parking"  value="<%=parking%>" />
                        </div>
                        <div>
                            <label><%=labels.otherBooth%></label>
                            <input type="text" name="stationeryBooth"  value="<%=stationeryBooth%>" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label><%=labels.telNumber%></label>
                        <input type="text" name="telNumber"  value="<%=telNumber%>" required />
                    </div>

                    <div  class="control-group">
                        <label><%=labels.mrktAddress%></label>
                        <textarea name="mrktAddress" style="width: 660px;" required rows="3"><%=mrktAddress%></textarea>
                    </div>

                </form>
            </div>

            <div class="tab-pane active" id="map">
                <div class="gmap3" style="width: 100%;height: 100%;"></div>
            </div>

            <div class="tab-pane" id="upload_image">
                <div id="btn_container" style="margin: 0;clear: both;">
                    <a class="btn btn-primary add-image right" id="image_upload_btn"><%=labels.add_img%></a>
                    <p id="uploadfiles" class="hide"></p>
                    <div class="progress left hide" style="width: 300px;">
                        <div class="bar"></div>
                        <span class="plupload_total_status"></span>
                    </div>
                    <div style="clear: both;"></div>

                    <div class="upload-image-progress">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="plupload_upload_status"></span>
                    </div>

                </div>
                <div class="images-list"></div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <%if(!id){%>
        <a class="btn btn-primary save"><%=labels.save%></a>
        <%}else{%>
        <a class="btn btn-primary save" id="<%=id%>"><%=labels.update%></a>
        <%}%>
        <a type="button" class="btn btn-default" data-dismiss="modal"><%=labels.cancel%></a>

    </div>
</div>