<div class="icons">
    <i class="glyphicon glyphicon-trash delete"></i>
    <i class="glyphicon glyphicon-edit edit-market"></i>
</div>

<%if(photos.length){%>
<div class="col-md-10 item-content-view">
    <h4 class="list-group-item-heading pull-right" data-parent="<%=mrktParent%>"  style="cursor: <%=(mrktParent == -1) ? 'pointer' : 'default'%>;"><%=mrktName%></h4><h5 class="pull-right">&nbsp;(<%=(mrktStatus == 1) ? labels.active : labels.inactive%>)</h5>
</div>
<div class="col-md-2 item-content-view">
    <img src="<%=photos[0].location%>"/>
</div>
<%}else{%>
<div class="col-md-12 item-content-view">
    <h4 class="list-group-item-heading pull-right" data-parent="<%=mrktParent%>" style="cursor: <%=(mrktParent == -1) ? 'pointer' : 'default'%>;"><%=mrktName%></h4><h5 class="pull-right">&nbsp;(<%=(mrktStatus == 1) ? labels.active : labels.inactive%>)</h5>
</div>
<%}%>