<tr class="product" id="<%=id%>" data-table="<%=tableId%>" data-category="<%=categoryId%>">
    <td><%=index%></td>
    <%_.each(values, function(item){%>
    <td class="key-value">
        <form onsubmit="return false;">
            <input type="hidden" name="fieldId" value="<%=item.fieldId%>"/>
            <input type="hidden" name="fieldName" value="<%=item.fieldName%>"/>
            <input type="text" name="value" value="<%=item.value%>" style="display: none;"/>
        </form>
        <span class="value"><%=item.value%></span>
    </td>
    <%})%>
    
    <td class="row-actions">
        <i class="glyphicon glyphicon-trash delete-product"></i>
        <i class="glyphicon glyphicon-edit edit-product"></i>
    </td>
</tr>