<div class="icons">
    <i class="glyphicon glyphicon-trash delete"></i>
</div>

<div class="col-sm-6 col-md-4 map-container gmap3">

</div>
<div class="col-sm-6 col-md-8">
    <div class="thumbnail">
        <%if(photos && photos[0]){%>
        <img src="/r/<%=photos[0].id%>" style="width: 100%; height: 300px;"/>
        <%}%>
    </div>
</div>
<div class="clear">
    <p><%=tell%></p>
    <p><%=description%></p>
</div>

<style>
    .gmap3{
        height: 300px;
    }

</style>