
<div class="col-md-4 map-container" style="height: 300px;"></div>

<div class="col-md-8 user-info relative">
    <form>
        <div class="control-group">
            <label><%=labels.name%>:</label>
            <input type="text" name="name" value="<%=name%>"/>
        </div>
        <div class="control-group">
            <label><%=labels.area%>:</label>
            <select name="area">
                <option value="1">منطقه ۱</option>
                <option value="2">منطقه ۲</option>
                <option value="3">منطقه ۳</option>
                <option value="4">منطقه ۴</option>
                <option value="5">منطقه ۵</option>
                <option value="6">منطقه ۶</option>
                <option value="7">منطقه ۷</option>
                <option value="8">منطقه ۸</option>
            </select>
        </div>
        <div class="control-group">
            <label><%=labels.address%>:</label>
            <input type="text" name="address" value="<%=address%>"/>
        </div>
        <div class="control-group">
            <label><%=labels.firstTellNumber%>:</label>
            <input type="text" name="firstTellNumber" value="<%=firstTellNumber%>"/>
        </div>
        <div class="control-group">
            <label><%=labels.secondTellNumber%>:</label>
            <input name="secondTellNumber" type="text"  value="<%=secondTellNumber%>"/>
        </div>
        <div class="control-group">
            <label><%=labels.latitude%>:</label>
            <input name="latitude" type="text"  value="<%=latitude%>"/>
        </div>
        <div class="control-group">
            <label><%=labels.longitude%>:</label>
            <input name="longitude" type="text"  value="<%=longitude%>"/>
        </div>

    </form>
    <div class="control-group">
        <div class="btn btn-primary btn-success save" style="width: 300px; margin-right: 103px;"><%=labels.save%></div>
    </div>
</div>