<?php if ($this->error) {?>
    <div> <b>Error!</b> <?=$this->message?> </div>
    <a href="<?=$this->url(array('module'=>'users', 'controller' => 'connect', 'action' => 'facebook'))?>" >Try again</a>
<?php }else { ?>
<script type="text/javascript">
    window.close();
</script>
<?php } ?>