<div class="right regions-list"></div>


<div class="charg-service-details" >
    <h4>اعتبار حساب شما <%= _.translate( (balanc || "۰"), true) %> تومان می باشد.‏</h4>

    <%if(fuzzy_expire_date > 0 ){%>
    <h5> <%=_.translate(fuzzy_expire_date.toString(), true)%>  <span>روز باقی مانده تا پایان سرویس </span></h5>
    <%}%>

    <%if(userRegions && fuzzy_expire_date == 0 ){%>
    <span> پایان سرویس</span>
    <%}%>

    <%if(fuzzy_expire_date < 0 ){%>
    <h5> <%= _.translate(Math.abs(fuzzy_expire_date).toString(), true)%>  <span> روز از پایان سرویس شما گذشته است.‏ </span></h5>
    <%}%>

    <form class="charg-service-form">
        <br/>
        <label class="control-label" style="float: right"><%=labels.mounth_count%></label>
        <select <%if(id && fuzzy_expire_date > 0 ){print('disabled');}%> class="selectpicker" name="acountDuration" id="acountDuration">
            <option value="1">۱ ماهه</option>
            <option value="3">۳ ماهه</option>
            <option value="6">۶ ماهه</option>
            <option value="12">یک ساله</option>
        </select>

        <br/>
        <label class="control-label" style=" float: right"><%=labels.service_type%></label>
        <select <%if(id && fuzzy_expire_date > 0 ){print('disabled');}%> class="selectpicker" name="serviceType" id="serviceType">
            <option value="1"><%=labels.web%></option>
            <option value="0"><%=labels.android%></option>
            <option value="2"><%=labels.web_android%></option>
        </select>
    </form>
        <h4 class="price">
            مبلغ قابل پرداخت
            <span class="total-price"></span>
           تومان می باشد.
        </h4>


        <span class="lack_credit" style="display: none;color: red;font-size: 17px;"><%=labels.lack_credit%></span>
        <h3 class="no-select-region" style="display: none;color: red;">هیچ منطقه ای انتخاب نشده است.‏</h3>


  
</div>
  <a style="float: left;
       font-size: 20px;
       width: 200px;" class="btn btn-large submit-btn save"><%=labels.charge_service%>
    </a>



<style type='text/css'>
    .kwicks-vertical {
        width: 445px;
        height: 445px;
    }
    .kwicks-vertical > li {
        height: 145px;
        margin-top: 5px;
    }
    .kwicks-horizontal {
        width: 445px;
        height: 100%;
    }
    .kwicks-horizontal > li {
        height: 100%;
        width: 145px;
        float: left;
        margin-left: 5px;
        background-color: #ffaa00;
    }
</style>