<div id ="header-container"></div>  

<div class="toolbar-container">
    <div class="filters-container navbar navbar-static-top" id ="primary-nav">
        <div class="navbar-inner">
            <div class="main-box container ">
                <div class="hidden-phone pull-left" >
                    <div class="btn-group btn-order menu">
                        <a class="btn btn-primary dropdown-toggle right sort-drop-down-toggle btn-mini" data-toggle="dropdown">
                            Sort: 
                            <strong class="btn-order-label">Just Joined</strong>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu sort-options">
                            <li><a data-value="join_date">Just Joined</a></li>
                            <li><a data-value="update_date">Just Updated</a></li>                           
                            <li><a data-value="site_count">Number of Sites</a></li>
                            <li><a data-value="site_following_count">Number of Beads</a></li>
                            <li><a data-value="follower_count">Number of Followers</a></li>
                            <li><a data-value="post_count">Number of Posts</a></li>
                        </ul>
                    </div>
                </div>

                <div class="form-filter form-inline">
                    <input data-type="name" class="filter-txt input-medium search-text input-mini" id="name" data-type="title"  placeholder="Name"  type="text">
                    <a class="btn btn-primary search btn-mini voo-search" rel="tooltip" title="search"></a>
                    <a class="btn btn-primary reset-filter btn-mini voo-loop-3" rel="tooltip" title="reset"></a> 
                </div>
            </div>
        </div>
        <span class="shadow-toolbar"></span>
    </div>
    <div class="clear"></div>   
</div>

