

<div class="modal-header" style ="border:none">
    <button class="close right" data-dismiss="modal">×</button>
    &nbsp;
</div>
<div class="modal-body">
    <div id="login-page">
        <div class="">
            <div class="login-container">
                <div class="login-btn">
                    <div class="signup-btn-memvoo">
                        <div class="loginWarning"><span class="voo-notice-2"></span>&nbsp; Wrong Username/Email and password combination.</div>
                        <form id ="login-box">
                            <div class="control-group">
                                <div class="controls">
                                    <input type="text" id ="username" placeholder="Email Address">
                                    <span class="error-message-profile"></span>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    <input type="password" id ="password" placeholder="Password">
                                    <span class="error-message-profile"></span>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="signup-btn-memvoo">
                        <div class="pull-right" style="margin-top: -1px;">
                            <a class="forget-password">Forgot your password?</a>
                            <a class="forget-password">
                                <input type="checkbox" name="remember_me" style="width:15px;height: 20px;margin-top: 0;" class="uiInputLabelCheckbox" value="1" id="remember_me" >
                                <label style="padding: 0;">Keep me logged in</label>
                            </a>
                        </div>
                        <div class="create-login"><a class="btn btn-primary memvoo login-memvoo" href="/users#signup">Log In </a></div>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="lines">
                    <div style="margin-left: -65px">
                        <span style="text-align: center">
                            <h3>Also You Can Log In With</h3>
                        </span>
                    </div>
                </div>
                <div class="login-social">
                    <a  href="/users/auth/facebook" ><span class="loginicon loginicon-f voo-facebook-2"    aria-hidden="true"></span></a>
                    <a href="/users/auth/google"><span class="loginicon loginicon-g voo-google-plus-3" aria-hidden="true"></span></a>
                    <a href="/users/auth/yahoo"><span class="loginicon loginicon-y voo-yahoo" aria-hidden="true"></span></a>
                    <a href="/users/auth/twitter"><span class="loginicon loginicon-t voo-twitter-2" aria-hidden="true"></span></a>
                    <div style="clear: both"></div>
                </div>
            </div>
        </div>
    </div>
</div>