<div id="login-page">
    <h3 style="margin-right: 20px;"><%=labels.welcome%></h3>
    <div class="container">
        <div class="login-page-container">
            <div id="login-box" class="left-container pull-right">
                <!--<div class="sign-in-label"><%=labels.signin%></div>-->
                <div class="control-group">
                    <label class="sign-in-email"><%=labels.email%></label>
                    <input class="ltr-inp" type="email"  id ="username"/>
                </div>

                <div class="control-group">
                    <label class="sign-in-pass"><%=labels.login%>&nbsp;
                        <!--<a class="forget-email forget-password"><%=labels.forget%></a>-->
                    </label>
                    <input class="ltr-inp" type="password" id ="password"/>
                </div>
                <div style="height: 30px;">
                    <span class="error-message username-required"><%=labels.usernameRequired%></span>
                    <span class="error-message password-required"><%=labels.passwordRequired%></span>
                    <span class="error-message userpass-required"><%=labels.userpassRequired%></span>
                    <span class="error-message invali-user"><%=labels.invalidUserorPass%></span>
                </div>
                <div class="submit-btn pull-left" style="width: 175px;">
                    <a class="btn login"><%=labels.sign%></a>
                </div>

            </div>
            <div style="clear:both"></div>
        </div>     
    </div>
</div>
