<div id="signup-page">
    <div class="container">
        <form id="signup">
            <div class="login-page-container">
                <div  class="left-container pull-right">

                    <div class="control-group">
                        <label class="sign-in-email"><%=labels.firstName%></label>
                        <input lang='fa' class="rtl" type="text" name="first_name" required pattern="^\s*\S.*$"/>
                        <span class="error-message">وارد کردن نام الزامی است.‏</span>
                    </div>

                    <div class="control-group">
                        <label class="sign-in-email"><%=labels.lastName%></label>
                        <input lang='fa' class="rtl" type="text" name="last_name" required pattern="\S+"/>
                        <span class="error-message">وارد کردن نام خانوادگی الزامی است.</span>
                    </div>

                    <div class="control-group">
                        <label class="sign-in-email"><%=labels.national_code%></label>
                        <input lang='el' type="text" name="national_code" required  pattern="^[0-9]{10}$"/>
                        <span class="error-message">کدملی عددی ۱۰ رقمی می باشد.</span>
                    </div>

                    <div class="control-group">
                        <label class="sign-in-email"><%=labels.email%></label>
                        <input lang='en' type="text"  name="email" required/>
                        <span class="error-message">پست الکترونیکی نامعتبر می باشد.‏‏</span>
                    </div>

                    <div class="control-group">
                        <label class="sign-in-email"><%=labels.password%></label>
                        <input lang='en' type="password" name="password" required pattern="^.{6,}$"/>
                        <span class="error-message">حداقل ۶ کاراکتر باید باشد.‏</span>
                    </div>

                    <!--                    <div class="control-group two_items">
                                            <label class="control-label"><%=labels.maleOrFemale%></label>
                                            <select class="selectpicker" name="gender">
                                                <option value="1"><%=labels.male%></option>
                                                <option value="2"><%=labels.female%></option>
                                                <option value="0"><%=labels.unknown%></option>
                                            </select>
                                        </div>-->

                </div>

                <div class="user_office_details" style="float: left; ">
                    <div class="control-group">
                        <label class="sign-in-email"><%=labels.tell%></label>
                        <input lang='en' class="right" type="text" name="telline" pattern="^\d*$"/>
                    </div>

                    <div class="control-group">
                        <label class="sign-in-email"><%=labels.cellphone%></label>
                        <input lang='en' class=" right" type="text" name="cellphone" required pattern="^((093)|(091))\d{8}$">
                        <span style="top: 32px;" class="error-message"> تلفن همراه نامعتبر می باشد.‏</span>
                    </div>


                    <div class="control-group">
                        <label class="sign-in-email"><%=labels.senf_number%></label>
                        <input lang='en' class="right" type="text" name="advisor_code" pattern="^\d*$"/>
                    </div>

                    <div class="control-group clear">
                        <label class="sign-in-email"><%=labels.senf_address%></label>
                        <textarea lang='fa' class="rtl" name="address" style="height: 80px;resize: none;width: 290px;"></textarea>
                    </div>

                    <div class="clear submit-btn" style="margin-top: 45px;width: 290px;position: relative;">
                        <a class="btn pull-left login" id="signup_btn"><%=labels.signup%></a>
                        <span style="position: absolute; top: 8px; right: -200px;" class="pull-left fill-requirment error-message">وارد کردن موارد ستاره‌دار اجباری است.‏</span>
                        <span style="position: absolute; right: -400px;display: none;color: red;top:8px;"  class="duplicate-email-msg error"><%=labels.duplicate_email_msg%></span>
                    </div>
                </div>
            </div>

        </form>


    </div>
</div>
<!--<div class="duplicate-email-msg" style="display: none;">
    <a><%=labels.duplicate_email_msg%></a>
</div>-->
<!--
<div class="loadin-modal hide">
    <div class="loading"><img src="../img/ajax-loader.gif"/></div>
</div>-->