<?php if ($this->error) { ?>
    <div class="alert"><?=$this->message?></div>
    <a href="/users/auth/twitter">Try Again</a>
<?php } else{
        if (isset($this->found) && $this->found) {
            $config  = Zend_Registry::get('config');
            $redirec = Zend_Controller_Action_HelperBroker::getStaticHelper('Redirector');
            if ($this->first_login) {
                //$redirec->gotoUrl($config->oauth->redirect_after_login);
                $redirec->gotoUrl("/invites#twitter");
            } else {
                $redirec->gotoUrl($config->app->url);
            }
            return;
        }
}
?>