
<form id ="change-password-form" >    
    <div id="modal-change-password-user" class="modal  hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel" class ="ModalCenter">You can change your Password</h3>
        </div>
        <div class="modal-body">
            <table>                  
                <tr>    
                     <td class ="modalTd">New  :  </td>
                     <td class ="modalTd"><input type="password" name ="new" value = ""></td>
                </tr>
                <tr>
                     <td class ="modalTd">Confirm   :  </td>
                     <td class ="modalTd"><input type="password" name ="confirm" value = "" ></td>
                </tr>     
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary save-new-pass">Save changes</button>
        </div>
    </div>
    
</form>





