

<ul class="bxslider">
    <% _.each(photos, function(photo) {
    var caption = photo.caption;
    var title = (caption) ? caption.title : "";
    var description = (caption) ? caption.description : "";
    %>
    <li data-title="<%=title%>" data-description="<%=description%>">
        <img width="100%" height="100%" src="/r/<%=photo.id%>" />
    </li>
    <% })%>
</ul>