
<div class="modal gallery-settings-modal" style="top: 50%">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="html-configs-label" ><%=labels.setting_title%> :</h3>
        <p><%=labels.setting_desc%></p>
    </div>
    <div style="padding: 5px 15px 5px 9px;max-height: 420px;">
        <form class="gallery-setting-configs">
            <div class="change-border hide">
                <div class="change-font box-change-font">
                    <label>Image Scaling</label>
                    <select class="change-font-size" name="scale">
                        <option></option>
                        <option value="crop">Crop</option>
                        <option value="fit">Fit</option>
                    </select>
                </div>
            </div>

            <div style="clear: both"></div>

            <div class="change-border">
                <div style="margin-top: 15px;">
                   <%=labels.setting_speed_desc%>: <span class="speed"><%=speed%></span>
                    <input type="hidden" name="speed" value="<%=speed%>"/>
                    <div class="margin" style="margin-top: 10px">
                        <div class="slider" data-type="speed" data-max="20000" data-step="500"></div>
                    </div>
                </div>

                <div style="margin-top: 15px;">
                   <%=labels.margin%>:  <span class="slide_margin"><%=slide_margin + '(px)'%></span>
                    <input type="hidden" name="slide_margin" value="<%=slide_margin%>"/>
                    <div class="margin" style="margin-top: 10px">
                        <div class="slider" data-type="slide_margin" data-max="50"></div>
                    </div>
                </div>
            </div>

            <div class="change-border">
                <div class="change-font">
                    <label><%=labels.slide_mode%></label>
                    <select name="mode">
                        <option value="vertical"  <%if(mode == 'vertical'){print('selected=true');}%> ><%=labels.vertical%></option>
                        <option value="horizontal" <%if(mode == 'horizontal'){print('selected=true');}%> ><%=labels.horiz%></option>
                        <option value="fade" <%if(mode == 'fade'){print('selected=true');}%> ><%=labels.fade%></option>
                    </select>
                </div>
                <div class="change-font">
                    <label><%=labels.img_click_event%></label>
                    <select name="click_callback_type">
                        <option value="nothing"><%=labels.do_nothing%></option>
                        <option value="expand-mode"><%=labels.expand_mode%></option>
                        <!--<option value="">Go to specific Link</option>-->
                    </select>
                </div>
            </div>
            <div class="change-border">
                <div class="left" style="width: 140px;">
                    <label style="margin-top: 0;width: 107px;"><%=labels.show_capt%></label>
                    <input type="checkbox" data-type="captions" <%if(captions == 'true'){print('checked=true');}%>/>
                    <input type="hidden" name="captions" value="<%=captions%>"/>
                </div>

                <div style="width: 140px;"  class="left" >
                    <label style="margin-top: 0;width: 100px;"><%=labels.auto_slide%></label>
                    <input type="checkbox" data-type="auto" <%if(auto == 'true'){print('checked=true');}%> />
                     <input type="hidden" name="auto" value="<%=auto%>"/>
                </div>

                <div>
                    <label style="margin-top: 0;width: 100px;"><%=labels.rand_slide%></label>
                    <input type="checkbox" data-type="random_start" <%if(random_start == 'true'){print('checked=true');}%> />
                    <input type="hidden" name="random_start" value="<%=random_start%>"/>
                </div>
            </div>
        </form>

        <div>

        </div>

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true"><%=labels.close%></button>
        <button class="btn btn-primary save-config"><%=labels.save%></button>
    </div>
</div>


