<html>
    <head>	
    </head>	
    <body>
        <div style="color:#54555A;font-family: 'Open Sans','Lucida Sans Unicode','Lucida Grande',sans-serif;font-size: 13px;margin: 0 auto;max-width: 560px;background-color:rgb(200,200,200);padding:30px;	">
            <div style="margin: 0 auto;max-width: 560px;background-color:#fff;box-shadow:1px 2px 3px #AEAEAE;">
                <div style="clear:both;height:40px;padding:10px 15px;background-color:#F8F8F8;">			
                    <a href="www.memvoo.com" style="text-decoration:none;color:#F15A23;">
                        <img src="<?= $config->app->url ?>/images/modern/app-icon.png"  style="width:40px;height:40px;display:block;float:left;"/>
                        <span style="float:left;display:block;margin:9px 0 0 5px;">Memvoo.com</span></a>
                </div>
                <div style="margin:0;padding:0;display:inline">
                    <input type="hidden" name="email" value="<?= $this->email ?>">
                </div>
                <div style="clear:both;padding:10px 15px;margin-bottom:10px;">
                    <div style="">Hi <?= $this->invited_name ?>,</div>
                    <div style="padding:20px 0;">   
                        <div style="float:left;">                            
                            <div style="padding:8px 0;width:480px;float: left;">
                                <a href="<?= $linkInvited_by ?>" style="text-decoration:none;color:#F15A23;"><?= $Invited_byName ?></a> is now a member of <a href="www.caracal.dev" style="text-decoration:none;color:#F15A23;">Caracal.dev</a>.
                                <br/> Join us to enjoy the word of <a href="www.Memvoo.com" style="text-decoration:none;color:#F15A23;">Memvoo.com.</a>                                
                            </div>					
                        </div>
                    </div>
                    <div style="clear:both;padding:28px 0 0px;">Learn more about<a href="www.memvoo.com" style="text-decoration:none;color:#F15A23">Memvoo.com.</a></div>
                    <div style="clear:both;padding:16px 0 0px;">Thanks,<br />The Memvoo.com team.</div>
                </div>			
            </div>
            <div style="clear:both;font-size:11px;color:#FFF;padding:0 5px;">
			This message was sent to <?= $this->invited_email ?>. If you don't want to receive these emails from Memvoo.com in the future, please click:
                <a href="www.memvoo.com" style="text-decoration:none;color:#F15A23;">unsubscribe.</a>
                <br />
                <i style="font-size:10px;">Copyright © 2012 Memvoo.com, All rights reserved.</i> 
            </div>
        </div>
    </body>	
</html>