<!--<div id="map_canvas" style="width:650px; height:400px"></div>-->

<!--AIzaSyAXwkg6eKLXIyw4MZ0T7kuxS5n6VpDWIMA-->

<!--<div class="gmap3"></div>-->

<div id="test1" class="gmap3"></div>

<style>
    .gmap3{
        margin: 20px auto;
        border: 1px dashed #C0C0C0;
        width: 650px;
        height: 300px;
    }

</style>